<div class="pull-left" style="width: 40px;text-align: center;">
  <div>
<!-- upvote -->
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/upvote">&#9650;</a>
  </div>
<!-- total votes method -->
    <b><%= post.getPoints() %></b>
  <div>
<!-- downvote -->
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/downvote">&#9660;</a>
  </div>
</div>
